APP_ENV=local
API_TITLE=LaTeX Exerciser API
API_VERSION=0.1.0
CORS_ORIGINS=http://localhost:3000, https://latex-exerciser.vercel.app
DATABASE_URL=postgresql+psycopg://latex_exerciser:latex_exerciser_password@127.0.0.1:5433/latex_exerciser